<?xml version="1.0"?>
<config>
    <modules>
        <Mdlb_Mlayer>
            <version>2.0.0</version>
        </Mdlb_Mlayer>
    </modules>
    <frontend>
        <routers>
            <mlayer>
                <use>standard</use>
                <args>
                    <module>Mdlb_Mlayer</module>
                    <frontName>mlayer</frontName>
                </args>
            </mlayer>
        </routers>
        <layout>
            <updates>
                <mlayer>
                    <file>mlayer.xml</file>
                </mlayer>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<mlayer>
				<use>admin</use>
				<args>
					<module>Mdlb_Mlayer</module>
					<frontName>mlayer</frontName>
				</args>
			</mlayer>
        </routers>
    </admin>
    <adminhtml>
		
		<layout>
			<updates>
				<mlayer>
					<file>mlayer.xml</file>
				</mlayer>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <mlayer>
                <class>Mdlb_Mlayer_Model</class>
                <resourceModel>mlayer_mysql4</resourceModel>
            </mlayer>
            <mlayer_mysql4>
                <class>Mdlb_Mlayer_Model_Mysql4</class>
                <entities>
                    <mlayer>
                        <table>mlayer</table>
                    </mlayer>
                </entities>
            </mlayer_mysql4>
        </models>
        <resources>
            <mlayer_setup>
                <setup>
                    <module>Mdlb_Mlayer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mlayer_setup>
            <mlayer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mlayer_write>
            <mlayer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mlayer_read>
        </resources>
        <blocks>
            <mlayer>
                <class>Mdlb_Mlayer_Block</class>
            </mlayer>
        </blocks>
        <helpers>
            <mlayer>
                <class>Mdlb_Mlayer_Helper</class>
            </mlayer>
        </helpers>
    </global>
		<default>
			<mlayer>
				<settings>
					<bannerenable>1</bannerenable>
					<banner-effect>1</banner-effect>
					<show_description>1</show_description>
					<select_banner_loder>1</select_banner_loder>
					<select_banner_height>30</select_banner_height>
					<select_btn_text>Buy Now</select_btn_text>
					<select_banner_pagi>0</select_banner_pagi>
					<select_banner_hover>1</select_banner_hover>
				</settings>
				
			</mlayer>
		</default>
</config>