<?xml version="1.0"?>
<config>
	<sections>
		<mlayer translate="label" module="mlayer">
			<label>Magic Banner</label>
			<tab>Mdlext</tab>
			<frontend_type>text</frontend_type>
			<sort_order>999</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<settings translate="label">
				<label>Banner settings</label>
				<frontend_type>text</frontend_type>
				<sort_order>10</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
					<fields>
						<bannerenable translate="label, comment">
							<label>Banner status</label>
							<comment><![CDATA[show description in front of image]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</bannerenable>
						
						<banner-effect translate="label, comment">
							<label>Banner efffect</label>
							<comment><![CDATA[Here you can change banner effect]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>mlayer/system_config_animation</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</banner-effect>
						
						<show_description translate="label, comment">
							<label>Show description</label>
							<comment><![CDATA[show description in front of image]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_description>
						<select_banner_loder translate="label, comment">
							<label>Select loder type</label>
							<comment><![CDATA[You can select loder type]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>mlayer/system_config_contentloder</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</select_banner_loder>
						
						<select_banner_height translate="label, comment">
							<label>Banner height</label>
							<comment><![CDATA[Add banner height in % (Please do not add % sign.)]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</select_banner_height>
						<select_btn_text translate="label, comment">
							<label>Banner button text</label>
							<comment><![CDATA[Add banner button text.)]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</select_btn_text>
						<select_banner_pagi translate="label, comment">
							<label>Banner pagination</label>
							<comment><![CDATA[show description in front of image]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</select_banner_pagi>
						<select_banner_hover translate="label, comment">
							<label>Banner pause on hover</label>
							<comment><![CDATA[You can enable or desable on mouse hover]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</select_banner_hover>
					</fields>
				</settings>	
			</groups>
		</mlayer>
	</sections>
</config>