<?xml version="1.0"?>
<config>
    <modules>
        <Mdl_Magiclogo>
            <version>0.1.0</version>
        </Mdl_Magiclogo>
    </modules>
    <frontend>
        <routers>
            <magiclogo>
                <use>standard</use>
                <args>
                    <module>Mdl_Magiclogo</module>
                    <frontName>magiclogo</frontName>
                </args>
            </magiclogo>
        </routers>
        <layout>
            <updates>
                <magiclogo>
                    <file>magiclogo.xml</file>
                </magiclogo>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <magiclogo>
                <use>admin</use>
                <args>
                    <module>Mdl_Magiclogo</module>
                    <frontName>magiclogo</frontName>
                </args>
            </magiclogo>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <magiclogo module="magiclogo">
                <title>Brand Logo</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="magiclogo">
                        <title>Manage Brands</title>
                        <sort_order>0</sort_order>
                        <action>magiclogo/adminhtml_magiclogo</action>
                    </items>
                </children>
            </magiclogo>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Mdl_Magiclogo>
                            <title>Mdl Brand Logo</title>
                            <sort_order>10</sort_order>
                        </Mdl_Magiclogo>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magiclogo translate="title" module="magiclogo">
                                            <title>Mconnect Brand Logo</title>
                                        </magiclogo>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <magiclogo>
                    <file>magiclogo.xml</file>
                </magiclogo>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <magiclogo>
                <class>Mdl_Magiclogo_Model</class>
                <resourceModel>magiclogo_mysql4</resourceModel>
            </magiclogo>
            <magiclogo_mysql4>
                <class>Mdl_Magiclogo_Model_Mysql4</class>
                <entities>
                    <magiclogo>
                        <table>magiclogo</table>
                    </magiclogo>
                </entities>
            </magiclogo_mysql4>
        </models>
        <resources>
            <magiclogo_setup>
                <setup>
                    <module>Mdl_Magiclogo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magiclogo_setup>
            <magiclogo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magiclogo_write>
            <magiclogo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magiclogo_read>
        </resources>
        <blocks>
            <magiclogo>
                <class>Mdl_Magiclogo_Block</class>
            </magiclogo>
        </blocks>
        <helpers>
            <magiclogo>
                <class>Mdl_Magiclogo_Helper</class>
            </magiclogo>
        </helpers>
    </global>
    <default>
        <magiclogo>
            <general>               
                <logotitle>Brands</logotitle>
				<magiclogoenabled>1</magiclogoenabled>
				<enableautoslide>1</enableautoslide>        
            </general>       
        </magiclogo>
    </default>
</config>