<?xml version="1.0"?>
<config>
    <modules>
        <Mdl_Mdllookbook>
            <version>0.1.0</version>
        </Mdl_Mdllookbook>
    </modules>
    <frontend>
        <routers>
            <mdllookbook>
                <use>standard</use>
                <args>
                    <module>Mdl_Mdllookbook</module>
                    <frontName>mdllookbook</frontName>
                </args>
            </mdllookbook>
        </routers>
        <layout>
            <updates>
                <mdllookbook>
                    <file>mdllookbook.xml</file>
                </mdllookbook>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <mdllookbook>
                <use>admin</use>
                <args>
                    <module>Mdl_Mdllookbook</module>
                    <frontName>mdllookbook</frontName>
                </args>
            </mdllookbook>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <mdllookbook module="mdllookbook">
                <title>Look-book</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="mdllookbook">
                        <title>Manage Look-book</title>
                        <sort_order>0</sort_order>
                        <action>mdllookbook/adminhtml_mdllookbook</action>
                    </items>
                </children>
            </mdllookbook>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Mdl_Mdllookbook>
                            <title>Mdl Brand Logo</title>
                            <sort_order>10</sort_order>
                        </Mdl_Mdllookbook>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mdllookbook translate="title" module="mdllookbook">
                                            <title>Mdl Brand Logo</title>
                                        </mdllookbook>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mdllookbook>
                    <file>mdllookbook.xml</file>
                </mdllookbook>
            </updates>
        </layout>
    </adminhtml>  
    <global>
        <models>
            <mdllookbook>
                <class>Mdl_Mdllookbook_Model</class>
                <resourceModel>mdllookbook_mysql4</resourceModel>
            </mdllookbook>
            <mdllookbook_mysql4>
                <class>Mdl_Mdllookbook_Model_Mysql4</class>
                <entities>
                    <mdllookbook>
                        <table>mdllookbook</table>
                    </mdllookbook>
                </entities>
            </mdllookbook_mysql4>
        </models>
        <resources>
            <mdllookbook_setup>
                <setup>
                    <module>Mdl_Mdllookbook</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mdllookbook_setup>
            <mdllookbook_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mdllookbook_write>
            <mdllookbook_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mdllookbook_read>
        </resources>
        <blocks>
            <mdllookbook>
                <class>Mdl_Mdllookbook_Block</class>
            </mdllookbook>
        </blocks>
        <helpers>
            <mdllookbook>
                <class>Mdl_Mdllookbook_Helper</class>
            </mdllookbook>
        </helpers>
    </global>
    <default>
        <mdllookbook>
            <general>               
                <logotitle>Look Book</logotitle> 
				<mdllookbookenabled>1</mdllookbookenabled> 
				<mdllookbookresizeenabled>1</mdllookbookresizeenabled> 
				<logoheight>300</logoheight> 
				<logowidth>255</logowidth>        
            </general>       
        </mdllookbook>
    </default>
</config>