<?xml version="1.0"?>
<config>
  <modules>
    <Creare_Latesttweet>
      <version>2.0.1</version>
    </Creare_Latesttweet>
  </modules>
  <global>
    <models>
      <latesttweet>
        <class>Creare_Latesttweet_Model</class>
        <resourceModel>latesttweet_mysql4</resourceModel>
      </latesttweet>
      <latesttweet_adminhtml>
        <class>Creare_Latesttweet_Model_Adminhtml</class>
      </latesttweet_adminhtml>
      <latesttweet_mysql4>
        <class>Creare_Latesttweet_Model_Mysql4</class>
        <entities>
          <latesttweet>
            <table>latesttweet</table>
          </latesttweet>
        </entities>
      </latesttweet_mysql4>
    </models>
    <resources>
      <creare_latesttweet_setup>
        <setup>
          <module>Creare_Latesttweet</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </creare_latesttweet_setup>
    </resources>
    <blocks>
      <latesttweet>
        <class>Creare_Latesttweet_Block</class>
      </latesttweet>
    </blocks>
    <helpers>
      <latesttweet>
        <class>Creare_Latesttweet_Helper</class>
      </latesttweet>
    </helpers>
  </global>
  <frontend>
    <layout>
      <updates>
        <latesttweet>
          <file>creare_latesttweet.xml</file>
        </latesttweet>
      </updates>
    </layout>
  </frontend>
  <default>
    <latesttweet>
      <twittersettings>
        <active>0</active>
        <twitterid>koolthememaster</twitterid>
	  </twittersettings>
	  <displaysettings>
	  	<showright>1</showright>
		<numberoftweets>3</numberoftweets>
        <showlinks>1</showlinks>
		<usenofollow>1</usenofollow>
		<opennew>1</opennew>
		<attags>1</attags>
		<hashtags>1</hashtags>
		<showfollow>1</showfollow>
      </displaysettings>
    </latesttweet>
  </default>
  <adminhtml>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <latesttweet>
                      <title>CreareGroup - Latest Tweets</title>
                    </latesttweet>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
</config>
